.imagenssite{
    display: grid;
    gap: 40px; /* TAG PARA O ESPASSAMENTO COM O COMANDO GRID*/
    grid-template-columns: 1fr 1fr 1fr;
    }

.imagem {
    width: 250px;
    height: 250px;
}

 